@charset "UTF-8";
/*Contacto*/
/*Form*/
.back-logo {
  background: url(/media/utility/entre-ideas_logo.jpg) no-repeat top center; }

.contacto {
  position: relative;
  display: flex;
  justify-content: center; }

.gallery {
  display: flex;
  flex-flow: row wrap; }
  .gallery .gallery-item {
    padding: 5px; }
    .gallery .gallery-item:hover {
      box-shadow: 3px 5px 3px gray;
      mask: ''; }

/*Header*/
/*Header__Menu*/
/*El mixin es copia de una seccion de bootstrap.css sobre navbar-expand en resolucion 992px, lo necesité para arreglar un problema de desincronización del h1/2 con el navbar
        sin comprometer ni escribir más codigo*/
/* Media querys para ajustar el menu y el h1/2 segun la resolucion*/
@media screen and (min-width: 576px) {
  .navbar-collapse--center {
    justify-content: center; }
  .header-text {
    text-align: center; }
  .navbar-brand {
    display: none; }
  .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row; }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute; }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid, .navbar-expand-lg > .container-sm, .navbar-expand-lg > .container-md, .navbar-expand-lg > .container-lg, .navbar-expand-lg > .container-xl {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }
  .navbar-expand-lg .navbar-toggler {
    display: none; } }

@media screen and (max-width: 576px) {
  .navbar-brand {
    position: relative;
    left: 50%;
    transform: translateX(-50%); }
  .header-text {
    display: none; } }

/*Localizador del menu*/
.active {
  border: solid;
  border-width: 2px 0px 2px 0px;
  color: rgba(179, 156, 26, 0.829); }

.header-text {
  color: rgba(46, 46, 46, 0.911); }
  .header-text:hover {
    text-decoration: none;
    color: black; }

/*Footer*/
/*Shake de los iconos del footer*/
@keyframes muevelo {
  from {
    transform: rotate(15deg); }
  to {
    transform: rotate(-15deg);
    transform-origin: center; } }

.shake:hover {
  animation: muevelo 0.1s ease-in-out infinite alternate; }

footer .a--black {
  color: black; }
  footer .a--black:hover {
    color: grey; }

/*Main*/
/*Instagram iframe container*/
main .container--iframe {
  border: solid;
  border-color: #ecd4b3;
  border-radius: 20px;
  width: 73vw;
  justify-content: center;
  box-shadow: 3px 5px 3px gray; }

main .texto-gradiente {
  background: linear-gradient(to right, #f3bd28 40%, #dbdb0e 60%, #ffcf33 80%);
  background-size: 250%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradiente 4s ease-in-out infinite;
  font-size: 7vh; }

@keyframes gradiente {
  to {
    background-position: 250%; } }
  main .texto-gradiente a {
    text-decoration: none; }
  @media screen and (max-width: 558px) {
    main .texto-gradiente {
      font-size: 5vh; } }
