/*Contacto*/
    /*Form*/
.back-logo{
    background: url(/media/utility/entre-ideas_logo.jpg) no-repeat top center;
}
.contacto__form{
    background-color: blanchedalmond;
    border: solid;
    width: 430px;
    flex-flow: column nowrap;
    border-radius: 25px;
    padding: 10px;
    opacity: 0.94;
    .btn--form{
        margin-left: 336px;
        border: solid;
        border-color: grey;
        border-width: 1px;
    }
}
