/*Contacto*/
    /*Form*/
.back-logo{
    background: url(/media/utility/entre-ideas_logo.jpg) no-repeat top center;
}
.contacto{
    position: relative;
    display: flex;
    justify-content: center;
    border: solid;
    border-radius: 25px;
    width: 20vw;
}
