.gallery{
    display: flex;
    flex-flow: row wrap;
    .gallery-item{
        padding: 0px 0px 0px 5px;
        &:hover{
            box-shadow: 3px 5px 3px gray;
            mask:'';

        }
    }
    .gallery-item--caption{
        &:before{
            content: "";
            position: absolute;
            height: 0%;
            width: 99%;
            background-color: rgb(252, 167, 64);
            opacity: 0.5;
            transition: 0.5s;
            bottom:0px;
        }
        &:hover:before{
            height: 30%;
        }
    }
    .gallery__overlay{
        position: absolute;
        top: 0%;
        text-align: center;
        font-size: 30px;
        text-shadow: 2px 2px 2px black;
        color: white;
        opacity: 0;
        transition: 0.5s;
        height: 100%;
        width: 100%;
        padding-top: 95%;
        &:hover{
          opacity: 1;
        }
    }
}